<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Destination Results</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Vacation Finder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">

            </a>
            <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
            <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Home</a>
              <a class="dropdown-item" href="#">Survey</a>
              <a class="dropdown-item" href="#">Results</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Survey -->

  <body class="d-flex flex-column">
    <div id="page-content">
      <div class="container text-center">
        <p class="lead text-black"><br><strong>Please complete the survey below to determine the perfect vacation for
            you.</strong>
        </p>
        <div class="container text-left">

          <p class="lead text-black-50"><br>Are you looking for warm weather?<br></p>
          </h3>
          <div class="panel-body">
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios1" id="optionsradios1-yes" value="option1"> YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios1" id="optionsradios1-no" value="option2"> NO
              </label>
            </div>

            <p class="lead text-black-50">
              <br>Are you on a budget?<br></p>
            </h3>
          </div>
          <div class="panel-body">
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios2" id="optionsradios2-yes" value="option1"> YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios2" id="optionsradios2-no" value="option2"> NO
              </label>
            </div>

            <p class="lead text-black-50"> <br>Do you enjoy doing tourist things on vacation, like visiting museums and
              popular attractions?<br></p>
            </h3>
          </div>
          <div class="panel-body">
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios3" id="optionsradios3-yes" value="option1"> YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios3" id="optionsradios3-no" value="option2"> NO
              </label>
            </div>

            <p class="lead text-black-50"><br>Is relaxation your main goal while vacationing?<br></p>
            </h3>
          </div>
          <div class="panel-body">
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios4" id="optionsradios4-yes" value="option1"> YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios4" id="optionsradios4-no" value="option2"> NO
              </label>
            </div>

            <p class="lead text-black-50"><br>Are you traveling with children?<br></p>
            </h3>
          </div>
          <div class="panel-body">
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios5" id="optionsradios5-yes" value="option1">
                YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios5" id="optionsradios5-no" value="option2"> NO
              </label>
            </div>

            <p class="lead text-black-50"><br>Are you interested in traveling abroad?<br></p>
            </h3>
          </div>
          <div class="panel-body">
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios6" id="optionsradios6-yes" value="option1"> YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios6" id="optionsradios6-no" value="option2"> NO
              </label>
            </div>

            <p class="lead text-black-50"><br>Are you over the age of 60?<br></p>
            </h3>
          </div>
          <div class="panel-body">
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios7" id="optionsradios7-yes" value="option1"> YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios7" id="optionsradios7-no" value="option2"> NO
              </label>
            </div>
            <p class="lead text-black-50">
              <br>Do you have a fear of heights and/or flying in an airplane?<br></p>
            </h3>
          </div>
          <div class="panel-body">
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios8" id="optionsradios8-yes" value="option1"> YES
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsradios8" id="optionsradios8-no" value="option2">
                NO
              </label>
            </div>

            <br>
          </div>
          <div class="panel-footer">
            <a href="#" class="btn btn-primary " role="button">SUBMIT</a>
          </div>
          <br><br>

        </div>
        <div class="col-md-1 column">
        </div>
      </div>
    </div>


    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

  </body>

</html>